<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template>
            <div v-for="item in list" v-if='true'>
                <div>{{ item.name }}</div>
            </div>
        </template>
    </div>
    <script src="./vue.js"></script>
    <script>
        // 创建一个实例
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    list: [
                        {name:'feifei'},
                        {name:'dandan'},
                    ]
                }
            }
        })

        console.log(app.$options.render)
    </script>
</body>
</html>