name: Deploy GitHub Pages

# 触发条件：在 push 到 master 分支后
on:
  push:
    branches:
      - master

# 任务
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.18.1] #指定node版本
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      # 添加这一步来设置环境变量
      - name: Set Git SSL Cipher List
        run: |
          echo "export NODE_OPTIONS=--openssl-legacy-provider" >> $GITHUB_ENV

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.18.1

      - name: test
        run: node -v

      - name: Build
        run: npm install && npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with: 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
          personal_token: ${{ secrets.ACCESS_TOKEN2 }} # Github Personal Access Token （需在 repo 中勾选 repo:public_repo 和 user:read:user）
          publish_dir: public # 部署文件目录，一般为 public 文件夹
          commit_message: Deploy the blog # 提交信息
